@CHARSET "ISO-8859-1";

html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 100%;
width:100%;
    }
.button{
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  width: 25%;
  text-align: center;
}
#Ancor{
  background-color: #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  width: 25%;
  text-align: center;
}
.controls {
  width: 100%;
  margin-top : -100px;
}
.refresh {
  width: 15%;
  height: 15%;
  background: url("http://www.bcn2006.com/Bicing/resources/img/reload.png") no-repeat;
  background-size: contain;
}